* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  /* display: flex;
    justify-content: center; */
  background-color: black;
  font-family: "MADEOuterSans", sans-serif;
}

@font-face {
  font-family: "MADEOuterSans";
  src: url("./assets/font/MADE\ Outer\ Sans\ Alt\ Black\ PERSONAL\ USE.otf");
  font-weight: bold;
}

main {
  max-width: 744px;
  height: 100vh;
  background-color: black;
}

nav {
  height: 60px;
}

#home {
  padding-top: 4vh;
  padding-left: 53px;
  padding-right: 53px;
  margin-bottom: 15vh;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 408px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.links {
  display: none;
}

#logo {
  span {
    color: yellow;
  }
}

#upper-home {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#middle-home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-text {
  color: white;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

#lower-home {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    width: 177px;
    height: 52px;
    background-color: #faff00;
    color: black;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 30px;
    outline: none;
    border: none;
  }
}

#advantages {
  color: white;
  width: 100%;
  background-color: black;
  padding-bottom: 10vh;
}

#advantages-top {
  display: flex;
  justify-content: center;
  font-size: 28px;
  padding-bottom: 10vh;
}

.content {
  display: flex;
  gap: 21px;
  img {
    width: 25%;
    height: 25%;
  }
}

.content-text {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  p {
    font-size: small;
    font-weight: 500;
    color: #ffffff;
  }
}

#advantages-content {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-items: center;
  justify-content: center;
}

#membership {
  width: 100%;
  background-color: black;
  padding-bottom: 10vh;
  color: white;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#membership-top {
  display: flex;
  justify-content: center;
  font-size: 28px;
  padding-bottom: 10vh;
}

.card {
  height: 397px;
  background-color: #222222;
  border-radius: 10px;
  /* padding: 1vw; */
  min-width: 275px;
  overflow: hidden;
  border: 1px solid transparent;
  transition: 0.5s;
}

.card-top {
  font-size: 24px;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vh;
  transition: 0.5s;
}

#membership-content {
  display: flex;
  width: 100%;
  gap: 2vh;
  overflow-x: auto;
  padding-left: 1vw;
  padding-right: 1vw;
}

#membership-content::-webkit-scrollbar {
  display: none;
}

.tick {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;

  img {
    width: 20px;
    height: 20px;
  }

  p {
    font-size: 14px;
    width: 300px;
  }
}

#yellow-tick {
  display: none;
}

.card-middle {
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: flex;
  flex-direction: column;
  padding-left: 23px;
  padding-right: 12px;
  gap: 1.5vh;
}

.card-second-half {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

.card-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vh;
  button {
    width: 107px;
    height: 30px;
    background-color: #faff00;
    border-radius: 30px;
    border: none;
    color: #000000;
  }
}

#about-top {
  display: flex;
  justify-content: center;
  padding-bottom: 10vh;
  h3 {
    font-size: 28px;
  }
}

#about-us {
  width: 100%;
  background-color: black;
  padding-bottom: 8vh;
  color: white;
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  height: auto;
}

#about-middle-para {
  display: none;
}

#about-content {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  gap: 30px;
  color: white;
  line-height: 161%;
}

#about-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gainsboro;
  text-align: center;
  width: 280px;
  height: 100%;
}

#about-middle-para {
  display: none;
}

#carousel-container {
  display: none;
}

.about-slider {
  padding-top: 60px;
  width: 100%;
  display: flex;
  overflow-x: auto;
  gap: 12px;
  padding-left: 1vw;
  padding-right: 1vw;
}

.about-slider::-webkit-scrollbar {
  display: none;
}

.image {
  img {
    width: 279px;
    height: 211px;
  }
}

#membership-top {
  h3 {
    font-size: 28px;
  }
}

.trainer-heading {
  h3 {
    font-size: 28px;
  }
}

#trainers {
  width: 100%;
  background-color: black;
  padding-bottom: 8vh;
  color: white;
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7vh;
}

#yellow-insta {
  display: none;
}

#yellow-twitter {
  display: none;
}

#yellow-yt {
  display: none;
}

#trainer-cards {
  display: flex;
  width: 100%;
  gap: 2vh;
  overflow-x: auto;
  padding-left: 1vw;
  padding-right: 1vw;
}

#trainer-cards::-webkit-scrollbar {
  display: none;
}

#hr {
  border: 1px solid black;
  width: 100%;
}

.Tcard {
  background-color: #222222;
  padding: 2vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  width: 275px;
  height: 448px;
  padding-left: 18px;
  padding-right: 18px;
}

.Tcard-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  p {
    font-size: large;
    font-weight: 800;
  }
}

.trainers-social {
  display: flex;
  gap: 3vw;
}

#footer {
  width: 100%;
  background-color: black;
  padding-bottom: 8vh;
  color: white;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 47px;
}

#left-footer {
  display: none;
}

#address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 22px;
    color: #ffffff;
  }
}

#pGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: 14px;
  }
}

#call,
#mail {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

#contact {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  h3 {
    font-size: 18px;
  }
  img {
    width: 20px;
    /* height: 30px; */
  }
  p {
    font-size: 19px;
  }
}

#contact-group {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  p {
    font-size: 14px;
  }
}

#social {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-social-container {
  margin-top: 5vh;
  display: flex;
  gap: 24px;
}

.card:hover {
  border: 1px solid #faff00;
}

.card:hover .card-top {
  background-color: #faff00;
  color: black;
}

.card:hover #yellow-tick {
  display: block;
}

.card:hover #normal-tick {
  display: none;
}

#insta-div:hover #normal-insta {
  display: none;
}

#insta-div:hover #yellow-insta {
  display: block;
}

#twitter-div:hover #normal-twitter {
  display: none;
}

#twitter-div:hover #yellow-twitter {
  display: block;
}

#yt-div:hover #normal-yt {
  display: none;
}

#yt-div:hover #yellow-yt {
  display: block;
}

#footer-yellow-yt {
  display: none;
}

#footer-yellow-twitter {
  display: none;
}

#footer-yellow-insta {
  display: none;
}

#footer-yellow-fb {
  display: none;
}

#footer-yt-div:hover #footer-normal-yt {
  display: none;
}

#footer-yt-div:hover #footer-yellow-yt {
  display: block;
}

#footer-twitter-div:hover #footer-normal-twitter {
  display: none;
}

#footer-twitter-div:hover #footer-yellow-twitter {
  display: block;
}

#footer-insta-div:hover #footer-normal-insta {
  display: none;
}

#footer-insta-div:hover #footer-yellow-insta {
  display: block;
}

#footer-fb-div:hover #footer-normal-fb {
  display: none;
}

#footer-fb-div:hover #footer-yellow-fb {
  display: block;
}
